*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: var(#C0C0C0);
}

.header{
    width: 100%;
    height: 104px;
    background-color: #171d25;
    position: relative;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
}
.left{
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2%;
}
.center{
    width: 51%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}
.right{
    width: 25%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}
.logo{
    width: 176px;
    height: 44px;
}
a:hover{
    color: #1a9fff;
    text-decoration: underline;
}
.btm{
    display: flex;
    padding: 5px 8px;
    background-color: #5c7e10;
    color: #e5e4dc;
    width: 160px;
    height: 34px;
    align-items: center;
    justify-content: center;
}
.btm:hover{
    cursor: pointer;
    color: white;
    background-color: #6c9018;
}
.modal-parent {
    display: flex;
    justify-content: center;
    width: 100%;
}
.modal_1{
    width: 11vw; /* 133px */
    height: 177px;
    background-color: #3d4450;
    display: none;
}
.logo2{
    height: 21px;
}
.modal_2{
    width: 11vw; /* 133px */
    height: 207px;
    background-color: #3d4450;
    display: none;
}
.image1, .image2{
    display: block;
    margin: 0 auto;
    width: 40%;
}
.name1{
      color: black;
    font-size: clamp(2rem, 8vw, 6rem);
    text-align: center;
}
.name2, .download_1, .download_2, .cheats2{
    color: black;
    font-size: clamp(2rem, 8vw, 6rem);
    text-align: center;
    margin: 20px 0;
}
.apps_1, .apps_2{
    text-align: center;
}
.cheats1{
    color: black;
    font-size: clamp(2.5rem, 10vw, 8rem);
    text-align: center;
    margin: 20px 0;
}
.body{
    background-color: #2a475e;
}
.donate{
 width: 10%;
 height: 10%;
}
